<h1>Show</h1>
<div class="card mb-3, container">
<div class="card-body">
  <h5 class="card-title"><%= @question.title %></h5>
  <p class="card-subtitle mb-2 text-muted"><%= @question.name %></p>
  <p class="card-text"><%= @question.content %></p>
</div>
</div>
<%= link_to '一覧に戻る', questions_path, class: "btn btn-primary" %>
