<%= render 'shared/error_messages', model: @user %>
<h1>会員情報更新</h1>
<%= render 'form', user: @user, form_url: user_path, form_method: :patch, form_class: "user-form", submit_label: "更新", password_fields: false %>
