<%= render 'shared/error_messages', model: @user %>
<h1>会員登録</h1>
<%= render 'form', user: @user, form_url: signup_path, form_method: :post, form_class: "user-form", submit_label: "登録", password_fields: true %>
